@import url('https://fonts.googleapis.com/css2?family=Anybody:wght@200;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Anybody', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

body {
  background-color: #181818;
}

.flex-center-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 5vh;
}

.landing {
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 5vh;
}

.set-size,
.set-target-amount,
.set-theme {
  height: 10vh;
}

.set-size {
  height: 21vh;
  margin-top: 3vh;
}

.set-size p,
.set-target-amount p,
.set-theme p {
  font-weight: 700;
  font-size: 3vh;
}

.set-size input,
.set-target-amount input {
  outline: none;
  border: none;
  border-radius: 1vh;
  color: black;
  font-weight: 700;
  font-size: 3vh;
  width: 5vw;
  padding: 1vh 1vh;
  margin-left: 1vw;
}

.st-example {
  border-radius: 50%;
  transition: 0.5s all;
  margin-left: 1vw;
}

.theme {
  height: 5vh;
  width: 5vh;
  border-radius: 50%;
  margin-left: 1vw;
  cursor: pointer;
}

.start-game {
  margin-top: 3vh;
  width: 30vw;
  justify-content: space-between;
}

.sg-btn {
  width: 12vw;
  border-radius: 1vw;
  height: 10vh;
  cursor: pointer;
  font-size: 3vh;
  font-weight: 700;
  color: black;
}

.cam-text {
  font-size: 3vh;
  margin-top: 3vh;
  font-weight: 700;
}

.game-wrapper {
  width: 100vw;
  height: 100vh;
}

.scoreboard {
  height: 8vh;
  width: 100vw;
}

.score-count,
.countdown,
.spm-count {
  width: 33.3vw;
  font-weight: 700;
  font-size: 4vh;
  transition: 0.2s all;
}

.scoreboard svg {
  margin-right: 1vw;
}

.single-target {
  display: block;
  position: absolute;
  border-radius: 50%;
  transition: 0.25s all;
}

.header {
  width: 100vw;
  height: 10vh;
  justify-content: space-between;
}

.brand {
  cursor: pointer;
  width: 30vw;
  height: 10vh;
}

.brand img {
  height: 7vh;
  margin: 0 0.5vw;
}

.brand h1 {
  color: black;
}

.links {
  height: 10vh;
  width: 30vw;
  justify-content: flex-end;
}

.links svg {
  color: black;
  font-size: 5vh;
  margin-right: 2vw;
}

.game-over-wrapper {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1;
}

.go-content {
  border-radius: 1vh;
  width: 90vw;
  background-color: #181818;
  transition: 0.3s all;
  flex-direction: column;
  justify-content: space-between;
}

.btn-group {
  width: 100%;
  justify-content: space-evenly;
  margin: 2vh 0;
}

.go-btn {
  border-radius: 1vh;
  padding: 1vh;
  cursor: pointer;
  flex-direction: column;
  width: 23vw;
  font-size: 2.5vh;
}

.go-btn svg {
  margin-bottom: 0.5vw;
  font-size: 5vh;
}

.go-btn a {
  color: #181818;
  font-size: 1vh;
}

.go-stats {
  width: 85vw;
  border-radius: 1vh;
  margin: 2vh 0;
  flex-direction: column;
  justify-content: space-between;
  background-color: #181818;
}

.stat-group {
  width: 100%;
  margin: 2vh 0;
}

.go-stat {
  width: 50%;
  margin: 0 1vw;
  border-radius: 1vh;
  height: 33vh;
  flex-direction: column;
  justify-content: space-evenly;
}

.go-stat svg {
  font-size: 10vh;
}

.go-stat p {
  font-size: 4vh;
  text-align: center;
  padding: 0 1vw;
  font-weight: 700;
}

.settings-group {
  border-radius: 1vh;
  flex-direction: column;
  padding: 1vh 0;
  margin: 1vh 0;
}

.settings-group h4 {
  font-size: 3.5vh;
}

.sg-info {
  width: 100%;
  justify-content: space-evenly;
}

.sg-info p {
  width: 32vw;
  text-align: center;
  font-weight: 200;
  font-size: 2.5vh;
}

.aimmaster-brand {
  border-radius: 1vh;
  color: black;
  font-size: 5vh;
  padding: 1vh 4vw;
}

.aimmaster-brand img {
  height: 6vh;
  margin: 0 0.5vw;
}
